@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Josefin+Sans:ital,wght@0,100;0,300;0,600;0,700;1,100;1,300;1,600&display=swap");
* {
  box-sizing: border-box;
}
.info-datos {
  display: flexbox;
}

.h1-intro {
  font-size: 110px;
  color: rgba(214, 201, 231, 0);
  -webkit-text-stroke: 1px rgba(255, 251, 255, 0.986);
  -webkit-background-clip: text;
  background-image: url(../img/back2.png);
  background-position: 0 0;
  animation: back 30s linear infinite;
  position: relative;
  top: 30%;
  justify-content: center;
  padding-left: 300px;
}
@keyframes back {
  100% {
    background-position: 1000px 0;
  }
}
h2 {
  text-align: center;
}
.imagen-perfil {
  width: 400px;
  position: sticky;
  top: 20%;
  left: 4%;
}

.imagen-unicornio {
  width: 200px;
  position: sticky;
  top: 20%;
  left: 10%;
  animation: rotando 10s linear infinite;
}

@keyframes rotando {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

nav {
  background-color: rgb(154, 100, 140);
  img {
    padding: 10px;
    margin-left: 20px;
    width: 2%;
  }
  .navbar-toggler {
    border: none !important;
    &:focus {
      box-shadow: none !important ;
    }
  }
  .boton-hamburguesa {
    background-color: none !important;
    color: rgb(134, 48, 127);
    border: none;
    margin: 5px;
    span:hover {
      color: grey;
    }
  }
}
i.fa-brands {
  color: rgb(29, 33, 36);
}
i.fa-brands:hover {
  color: rgb(239, 41, 225);
}

.list-group {
  --bs-list-group-bg: transparent;
  --bs-list-group-border-width: none;
}

div#fondo-perfil {
  display: flex;
  z-index: 1;
}

.info-datos {
  text-align: center;
  margin-top: -550px;
}

div#perfil-fondo img {
  width: 100%;
  height: 750px;
}

.imagen-perfil {
  border-radius: 50%;
  width: 172px;
  height: 172px;
  z-index: 1;
}

.navegacion {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  box-shadow: 0 3px 5px rgba(97, 105, 96, 0.1);
  font-style: normal;
  color: rgb(90, 69, 117);
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.navegacion-ul {
  display: flex;
  gap: 1.9rem;
}

.acercaDeMi {
  padding-top: 300px;
}
.Habilidades {
  padding: 2rem;
}

.icono {
  padding-bottom: 1rem;
}

.card-proyecto {
  background-color: rgb(204, 124, 235);
  width: 35rem;
  height: 45rem;
  padding: 10px;
  margin-left: 8px;
}
.card-proyect img {
  width: 30rem;
  height: 12rem;
}

i.fa-brands.fa-html5 {
  color: brown;
}

i.fa-brands.fa-css3-alt {
  color: aqua;
}
i.fa-brands.fa-square-js {
  color: rgb(234, 234, 27);
}
i.fa-brands.fa-bootstrap {
  color: rgb(104, 14, 188);
}
i.fa-brands.fa-angular {
  color: rgb(105, 4, 4);
}

#tarjeta-experiencia {
  background-color: rgb(116, 88, 141);
}

/*grilla*/
.grilla {
  padding: 12px;
  display: flex;
  justify-content: space-around;
}
.grilla {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "uno dos tres"
    "uno dos tres"
    "uno dos tres"
    "cuatro cinco cinco"
    "seis seis seis";
  gap: 5px;
}

.grilla .item1 {
  grid-area: uno;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grilla .item2 {
  grid-area: dos;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grilla .item3 {
  grid-area: tres;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grilla .item4 {
  grid-area: cuatro;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.grilla .item5 {
  grid-area: cinco;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 45rem;
}
.grilla .item6 {
  grid-area: seis;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 65rem;
  padding-left: 20px;
  margin-left: 5rem;
}

@media (width < 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .ul .navegacion {
    align-items: start;
    flex-direction: column;
  }
  .capacitaciones .card {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position:relative;
  }
}

@media (width < 768px) {
  .grilla {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
      "uno"
      "dos"
      "tres"
      "cuatro"
      "cinco"
      "seis";
    item1 {
      flex-direction: column;
    }
    item2 {
      flex-direction: column;
    }
    item3 {
      flex-direction: column;
    }
    item4 {
      flex-direction: column;
    }
    item5 {
      flex-direction: column;
      width: 18rem;
      height: auto;
    }
    item6 {
      flex-direction: column;
      width: 18rem;
      height: auto;
    }
  }
}

.capacitaciones {
  display: flex;
  width: 100%;
}
.capacitaciones .card {
  border: 5px solid violet;
  align-items: center;
  justify-content: space-around;
}
.capacitaciones img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
  transition: 0.5s ease;
}

.capacitaciones img:hover {
  cursor: pointer;
  width: 400px;
  opacity: 1;
  filter: contrast (120%);
}

.Habilidades {
  background-image: url(../img/mirandociudadC.jpg);
  color: aliceblue;
}
#experiencia {
  background-color: rgb(138, 98, 151);
  padding-bottom: 20px;
}
.experiencia .column {
  border-radius: 8px;
  width: auto;
  box-shadow: 0px 0px 3px #000;
}

/*boton ir arriba*/
#button-up {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: rgb(241, 23, 89);
  justify-content: center;
  align-items: center;
  color: #d8c8e7;
  border-radius: 50%;
  font-size: 16px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
}

#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

footer {
  padding: 10px 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(208, 203, 209);
}
   .footer .a {
      text-decoration: none;
      display: block;
      color: rgb(51, 20, 255);
      font-size: 0.8rem;
      margin-bottom: 4px;
    }
  