.navbar.navbar-expand-lg.bg-secondary{
    background: rgb(17,9,142);
    background: linear-gradient(90deg, rgba(17,9,142,1) 14%, rgba(95,58,200,1) 35%, rgba(90,45,189,1) 64%, rgba(0,212,255,1) 91%, rgba(0,255,251,1) 98%);
    }
    i.fa-brands.fa-instagram.fa-2xl:hover{
    color: blueviolet;
    }
    i.fa-brands.fa-linkedin.fa-2xl:hover{
        color:aqua;
    }
    i.fa-brands.fa-github.fa-2xl:hover{
        color:antiquewhite;
    }
    i.fa-solid.fa-user.fa-2xl:hover{
        color:blue;
    }
.list-group{
 --bs-list-group-bg: transparent;
}
.list-group{
--bs-list-group-border-width: none;
}
