body {
    margin : 0;
    padding : 0;
    font-family: sans-serif;
    background-color: black;
    color:aliceblue
}




.navbar.navbar-expand-lg.bg-secondary{
    background: rgb(226,100,112);
    background: linear-gradient(90deg, rgba(226,100,112,1) 0%, rgba(207,57,57,1) 50%, rgba(252,120,69,1) 100%); 
}

    i.fa-brands.fa-instagram.fa-2xl:hover{
    color: blueviolet;
    }
    i.fa-brands.fa-linkedin.fa-2xl:hover{
        color:aqua;
    }
    i.fa-brands.fa-github.fa-2xl:hover{
        color:antiquewhite;
    }
    i.fa-solid.fa-user-lock.fa-2xl:hover{
        color:blue;
    }
.list-group{
 --bs-list-group-bg: transparent;
}
.list-group{
--bs-list-group-border-width: none;
}

#primer-tarjeta {
    border-radius: 32px;
    margin:10 px 10px;
    padding: 20px;
    border-color:blue;
}


.presentacion.tarjeta#primera{
  padding: 0;   
}
div#fondo-perfil{
    display: flex;
    z-index:1;
}

div#perfil-fondo img {
width:100%;
border-radius: 32px 32px 0 0;
}


.imagen-perfil {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
}
div#info-actions {
    display:flex;
}

.Sobre-mi{
    padding-top: 2rem;
}

h5 {
    font-style: italic;
}

.progress {
    margin-bottom: 1rem;
}

h2 {
    text-align:left;
    font-style:oblique;
    font-weight: lighter;
}
h5{
    text-align: center;
}

#info-profesion{
    font-size: x-large;
}

.navegacion{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-style:normal;
    color:rgb(238, 238, 20);
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
}
  
  .navegacion-ul {
    display: flex;
    gap: 1.9rem;
  }
  
  .menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  #habilidades {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  
  .contenedor-habilidad-img {
    padding: 1.25rem;
  }
  
  i.fa-brands.fa-html5 {
    color:brown;
  }

  i.fa-brands.fa-css3-alt{
    color:aqua;
  }
  i.fa-brands.fa-square-js {
    color:rgb(234, 234, 27);
  }
  i.fa-brands.fa-bootstrap {
    color:rgb(104, 14, 188);
  }
  i.fa-brands.fa-angular {
    color:rgb(105, 4, 4);
  }
